@model IEnumerable<Cadastro.Application.ReadModels.EspetaculoReadModel>

@{
    ViewBag.Title = "Contact";    
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.DisplayFor(x => item.Nome)</li>
    }
</ul>